/* =======================
   ESTILO GERAL DA PÁGINA
==========================*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: #f2f2f7;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* =======================
        CABEÇALHO
==========================*/

header {
    background:linear-gradient(135deg, #772a8f, #341f97, #b348b7) ;;
    padding: 20px 0;
    text-align: center;
    color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

header h1 {
    font-size: 2rem;
    font-weight: bold;
}

/* =======================
       CONTEÚDO PRINCIPAL
==========================*/



/* Caixa principal */
#container {
    width: 90%;
    max-width: 420px;
    margin:  auto;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
}
/* Título */
#container h1 {
    text-align: center;
    margin: 30px 0;
    font-size: 1.8rem;
}
/* Input */
#container input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #aaa;
    border-radius: 8px;
    outline: none;
    transition: 0.2s;
}

#container input:focus {
    border-color: #4b4df7;
    box-shadow: 0 0 6px rgba(75, 77, 247, 0.4);
}

/* Botão */
#container button {
    padding: 10px;
    background: linear-gradient(#341f97,#b348b7, #772a8f ) ;;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.2s;
}

#container button:hover {
    background: #3a3cd4;
}

/* Resultado - label */
#resultado {
    font-weight: bold;
    text-align: center;
    padding: 8px 0;
    font-size: 1.1rem;
    display: none; /* só aparece após verificar */
}

/* =======================
            TEXTO
==========================*/

p {
    text-align: center;
    margin: 25px auto;
    width: 80%;
    color: #555;
    font-weight: bold;
    line-height: 1.4rem;
}

/* =======================
           RODAPÉ
==========================*/

footer {
    margin-top: auto;
    text-align: center;
    padding: 20px 0;
    background: linear-gradient(135deg, #772a8f, #341f97, #b348b7) ;
    color: white;
}

footer a {
    color: rgb(178, 178, 171);
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}
